@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sacramento&display=swap');

body {
    background-color: #FFFFFF;
}

/*========== Universal Settings ==========*/
.icon {
    color: #EE143A;
}

.logo-simakpai {
    font-family: 'Sacramento', cursive;
    font-size: 2rem;
    color: #EE143A;
}

.caption {
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 12px;
    color: #000;
}

.caption2 {
    font-family: "Open Sans";
    font-weight: normal;
    font-size: 15px;
    color: #000;
}

.card {
    border: none !important;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);

    .card-header {
        background-color: #FFFFFF;
        font-family: "Helvetica Neue";
        font-weight: bold;
        font-size: 15px;
        text-align: left;
        color: #000;
    }

    .card-title,
    .card-text {
        font-family: "Helvetica Neue";
        font-weight: normal;
        font-size: 15px;
        text-align: left;
        color: #000;

    }
}

/*========== .Universal Settings ==========*/

/*========== Index.html ==========*/
/*========== Navbar ==========*/
nav {
    a.navbar-brand {
        display: flex;

        img {
            width: 1.563rem;
            height: 2.118rem;
        }
    }

    .navbar-collapse {
        a {
            font-family: "Helvetica Neue";
            font-weight: bold;
            font-size: 1rem;
            text-align: left;
            color: #707070;
        }
    }
}

/*========== Header ==========*/
header {
    .wellcome {
        margin-top: 5%;
        overflow-x: hidden;

        .wellcome-text {
            text-align: left;

            h5 {
                font-family: "Open Sans";
                font-weight: normal;
                font-size: 1rem;
                color: #000;
            }

            h1 {
                font-family: "Open Sans";
                font-weight: bold;
                font-size: 2.3rem;
                color: #000;
            }

            h1.caption {
                color: #ee143a;
            }

            .btn {
                width: 7.6rem;
                height: 2.6rem;
                border-radius: 5px;
                background: #ee143a;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.16);
                font-family: "Helvetica Neue";
                font-weight: bold;
                font-size: 1rem;
                color: #fff;
                border: none;
            }

            .btn:hover {
                background-color: #a00f27;
            }
        }

        img {
            // width: 37.266rem;
            // height: 21.891rem;
            width: 547px;
            height: 321px;
        }
    }
}

/*========== Main Content ==========*/
main {
    #berita {
        min-height: 70vh;
        margin-bottom: 2%;

        .left-side {
            margin-bottom: 2%;
        }

        .right-side {
            margin-bottom: 2%;

            a {
                text-decoration: none;
            }

            a:hover {
                .card {
                    background: rgb(226, 226, 226);
                }
            }

            .pengumuman-list {
                min-height: 80px;
                background: transparent;
                overflow: hidden;
                padding: 2%;

                img {
                    width: 100%;
                    height: 3.5rem;
                    object-fit: cover;
                    border-radius: 5px;
                }

                h5 {
                    font-family: "Open Sans";
                    font-weight: bold;
                    font-size: 15px;
                    text-align: left;
                    color: #000;
                }
            }
        }
    }
}

/*========== Footer ==========*/
footer {
    background-color: #fafafb;
    padding-top: 2%;

    h5 {
        font-family: "Helvetica Neue";
        font-weight: bold;
        font-size: 15px;
        text-align: left;
        color: #000;
    }

    img {
        width: 20px;
        height: 20px;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
            padding-bottom: 3%;
        }
    }
}

/*========== .Index.html ==========*/

/*========== login.html ==========*/
.login-page {
    .left-side {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FFC691;
        width: 100%;
        height: 100vh;
        overflow-x: hidden;

        img {
            width: 653px;
            height: 391px;
        }
    }

    .right-side {
        border: none;
        box-shadow: none;
        background-color: transparent;

        h1 {
            font-family: "Open Sans";
            font-weight: bold;
            font-size: 30px;
            color: #000;
        }

        .login-form {
            .input {
                margin-bottom: 30px;
                width: 100%;
                height: 50px;
                border-radius: 5px;
                border: none;
                background: #fff;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.16);
            }

            button {
                width: 100%;
                height: 50px;
                border-radius: 5px;
                border: none;
                background-color: #FFC691;
                color: #FFFFFF;
                font-family: "Helvetica Neue";
                font-weight: bold;
                font-size: 15px;
                color: #fff;
            }

            button:hover {
                background-color: #eeb077;
            }

            p {

                a {
                    font-family: "Helvetica Neue";
                    font-weight: bold;
                    font-size: 15px;
                    color: #707070;
                    margin-top: 2%;
                    text-decoration: none;
                }
            }

            a:hover {
                color: #EE143A;
            }
        }
    }
}

/*========== .login.html ==========*/

/*========== home.html ==========*/
header.home {
    h5 {
        font-family: "Open Sans";
        font-weight: normal;
        font-size: 20px;
        color: #000;

        span {
            font-weight: bold;
        }
    }
}

main {
    .menu-utama-home {
        a {
            text-decoration: none;

            .card {
                width: 100%;
                padding: 2%;
                transition: 0.3s ease;

                img {
                    width: 100px;
                    height: 89.53px;
                }

                p {
                    font-family: "Helvetica Neue";
                    font-weight: bold;
                    font-size: 15px;
                    color: #000;
                    margin-bottom: 0;
                }
            }

            .card:hover {
                margin-top: -10px;
                transition: 0.3s ease;
            }
        }

        .modal {
            .modal-body {
                img {
                    width: 294px;
                    height: 209px;
                }
            }
        }
    }
}

/*========== .home.html ==========*/

/*========== Media Query ==========*/
@media (max-width: 480px) {
    header {
        .wellcome {
            .wellcome-text {
                text-align: center;

                h5 {
                    font-size: 0.8rem;
                }

                h1 {
                    font-size: 1.2rem;
                }

                .btn {
                    width: 5rem;
                    height: 1.8rem;
                    font-size: 0.8rem;
                }
            }

            img {
                display: none;
            }
        }
    }
}

@media (max-width: 1023px) {

    /*========== login.html ==========*/
    .login-page {
        .left-side {
            display: none;
        }
    }
}

/*========== .Media Query ==========*/